*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}




.header a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.header a:hover {
  color: #ccc;
}
.header{
  width: 100%;
  height: 100px;
  background-color: rgb(44, 44, 44);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50vh;
  font-size: large;
  
}